body
{
    background: #3399ff;
   /*background-color: #1d1d1d;;
    background-repeat: no-repeat;
    background-size: cover;*/
}
.login
{
    font-weight: bold;
    font-size: x-large;
    width: 400px;
    height: 500px;
    margin-top: 170px;
    margin-left: 50px;
    backdrop-filter: blurpx;
    
    box-shadow: none;
    color: aliceblue;
    text-align: center;
}
#but1
{
    width: 400px;
    height: 60px;
    color: rgb(3, 13, 3);
    margin-top: 30px;
    margin-left: 20px;
    font-size: x-large;
    background-color: rgb(11, 100, 124);
    font-weight: 900px;
    box-shadow: none;
}

.form label
{
    margin-top: 10px;
    padding-right: 500px;
    display: block;
    text-align: center;
}
formm form
{
    display: inline-block;
}
.image
{
    width: 200px;
    margin-top: 300px;
    margin-left: 960px;
}
.form
{
    border-radius: 10px;
    background: black;
    color: #000;
    width: 890px;
    margin: 4px;
    margin-left: 50px;
}
/*from here */
.circle{
    position: absolute;
    border-radius: 50%;
    background: white;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
  }
  
  .small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
  }
  
  .medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
  }
  
  .large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
  }
  
  .xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
  }
  
  .xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
  }
  
  .shade1{
    opacity: 0.2;
  }
  .shade2{
    opacity: 0.5;
  }
  
  .shade3{
    opacity: 0.7;
  }
  
  .shade4{
    opacity: 0.8;
  }
  
  .shade5{
    opacity: 0.9;
  }
  
  @keyframes ripple{
    0%{
      transform: scale(0.8);
    }
    
    50%{
      transform: scale(1.2);
    }
    
    100%{
      transform: scale(0.8);
    }
  }
  
